#space {
    border: 1px solid black;
    background-image: url("../assets/Background/starBackground.png");
    position: relative;
    overflow: hidden;

}

#ship {
    position: absolute;
}

#damaged-ship {
    position: absolute;
}

.enemy-ship {
    position: absolute;
}

.asteroid-big {
    position: absolute;
}

.asteroid-small {
    position: absolute;
}

.disco-voador {
    position: absolute;
}


/* Estilo para o contêiner principal */
.scoreboard {
    display: flex;
    justify-content: flex-end;
    padding: 2px;
}
  
  /* Estilo para cada subseção do time */
.vida {
    position: absolute; 
}
  
.score {
    font-size: 36px;
    font-weight: bold;
    color: rgb(254, 254, 254);
}