<div class="container mt-2">
    <div class="options" style="Justify-content: center">
        <h3>Space Shooter Info:</h3><br>
    </div>
    <div class="container mt-2 options">
        <img src="https://i.ytimg.com/vi/aJbegViSDmA/maxresdefault.jpg" alt="ads via Carbon" border="0" height="400" width="800">
    </div>
    <p class="mt-3">O Space shooter é um jogo antigo e muito famoso, ele é um derivado de um dos jogos mais marcantes da histŕia dos jogos, o Space Invaders. </p>
    <p>O Space Invaders é um jogo de tiro ao alvo de 1978, desenvolvido por Tomohiro Nishikado. Foi fabricado e vendido em Taito no Japão, e licenciado à divisão Midway de Bally para distribuição no estrangeiro. Space Invaders foi o primeiro atirador fixo e definiu o modelo para o género shoot 'em up. O objectivo é derrotar onda após onda de alienígenas descendentes com um laser em movimento horizontal para ganhar o maior número de pontos possível.</p>
    <p>O designer Nishikado inspirou-se em jogos de tiro ao alvo norte-americanos como Breakout (1976) e Gun Fight (1975), bem como em narrativas de ficção científica como o romance The War of the Worlds (1897), o anime Space Battleship Yamato (1974), e o filme Star Wars (1977). Para completar o desenvolvimento do jogo, teve de conceber hardware personalizado e ferramentas de desenvolvimento. Quando foi lançado, Space Invaders foi um sucesso comercial imediato; em 1982, já tinha avaliado em 3,8 mil milhões de dólares (equivalente a mais de 13 mil milhões de dólares ajustados à inflação a partir de 2016)[19], com um lucro líquido de 450 milhões de dólares (equivalente a 2 mil milhões de dólares ajustados à inflação). Isto fez dele o jogo de vídeo mais vendido e o produto de entretenimento mais grandioso da época, e o jogo de vídeo mais grandioso de todos os tempos.</p>
    <p> O Space Invaders é considerado um dos jogos de vídeo mais influentes de todos os tempos. Abriu a era dourada dos jogos de videojogos arcade. Foi a inspiração para numerosos jogos de vídeo e designers de jogos de diferentes géneros, e foi portado e relançado em várias formas. A versão de 1980 do Atari VCS quadruplicou as vendas do VCS, tornando-se assim a primeira aplicação assassina para consolas de videojogos. Mais amplamente, o alienígena inimigo pixelizado tornou-se um ícone da cultura pop, representando muitas vezes os jogos de vídeo como um todo.</p>
    <a href="https://en.wikipedia.org/wiki/Space_Invaders"><button type="button mt-2" class="btn btn-info">Referências</button> </a>
</div>