
<div class="container mt-2 options">
    <div style="Justify-content: center">
    <h3>Space Shooter Game</h3><br>
    </div>
</div>
<div class="container mt-2 options">
    <img src="https://i.ytimg.com/vi/aJbegViSDmA/maxresdefault.jpg" alt="ads via Carbon" border="0" height="400" width="800">
</div>