<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Entre com suas Credenciais:</h1>
    <form action="/login" method="post">
    {{!-- <input type="hidden" name="_csrf" value="{{csrf}}"> --}}
        <fieldset>
            <div class="form-group">
                <label for="email" class="form-label mt-4">E-mail</label>
                <input 
                type="email" 
                class="form-control" 
                id="email" 
                name="email"
                placeholder="roberto.silva@gmail.com">
            </div>
            <div class="form-group">
                <label for="senha" class="form-label mt-4">Senha</label>
                <input 
                type="password" 
                class="form-control" 
                id="senha" 
                name="senha"
                placeholder="Digita sua Senha.">
            </div>
            <div class="d-grid gap-2 mt-4">
                <button class="btn btn-lg btn-primary" type="submit">Entrar</button>
                <a href="main/index"><button type="button" class="btn btn-primary mt-4">Voltar</button></a>
            </div>
        </fieldset>
    </form>

        </div>
    </div>
</div>

